h1 {
  color: purple
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.logoImage {
  max-width: 300px;
}

.hero-image {
  max-width: 200px
}

#hero-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4em;
  margin: 0;
  text-transform: uppercase;
  color: rgb(255, 0, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: yellow;
  text-shadow: 2px 1px #292929;
}

div>img .details-pic {
  max-width: 300px;
}

div.card {
  background-color: cadetblue;

}

body#page4 {
  background-color: grey;
}

.special-link {
  text-decoration: none;
}

.special-link:hover {
  color: red;
}